Repository abgdnv/gocommerce: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-multimodule, go-mod-tidy-check

.pre-commit-config.yaml:

exclude: '(^pkg/api/gen/|internal/store/db/)'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        exclude: ^deploy/charts/.*/templates/
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-imports
      - id: go-mod-tidy

  - repo: local
    hooks:
      - id: golangci-lint-multimodule
        name: golangci-lint (all modules)
        entry: make lint
        language: system
        types: [go]
        pass_filenames: false

      - id: go-mod-tidy-check
        name: go mod tidy (check for changes)
        entry: bash -c 'make tidy >/dev/null && git diff --quiet --exit-code -- "**/go.mod" "**/go.sum"'
        language: system
        pass_filenames: false
        files: go.mod

feat(infra): integrate Keycloak for identity and access management
  deploy/charts/gocommerce-infra/Chart.lock
  deploy/charts/gocommerce-infra/Chart.yaml
  deploy/charts/gocommerce-infra/charts/db-migrations-0.0.1.tgz
  deploy/charts/gocommerce-infra/charts/keycloak-0.0.1.tgz
  deploy/charts/gocommerce-infra/charts/platform-database-0.0.1.tgz
  deploy/charts/gocommerce-infra/values.yaml
  deploy/charts/keycloak/.helmignore
  deploy/charts/keycloak/Chart.lock
  deploy/charts/keycloak/Chart.yaml
  deploy/charts/keycloak/charts/keycloakx-7.0.1.tgz
  deploy/charts/keycloak/realm/gc_realm.json
  deploy/charts/keycloak/templates/configmap-realm.yaml
  deploy/charts/keycloak/values.yaml
  deploy/charts/platform-database/templates/secrets.yaml
  deploy/charts/platform-database/values.yaml
  docker-compose.yml
Due: none

refactor(charts): improve Helm hook lifecycle management
  deploy/charts/db-migrations/templates/job-orders.yaml
  deploy/charts/db-migrations/templates/job-products.yaml
Due: none

feat(infra): add NATS JetStream messaging platform
  deploy/charts/nats/.helmignore
  deploy/charts/nats/Chart.lock
  deploy/charts/nats/Chart.yaml
  deploy/charts/nats/charts/nats-1.3.9.tgz
  deploy/charts/nats/streams/orders.json
  deploy/charts/nats/templates/job-stream.yaml
  deploy/charts/nats/values.yaml
Due: none

chore(infra): integrate NATS chart into the `gocommerce-infra` umbrella chart
  deploy/charts/gocommerce-infra/Chart.lock
  deploy/charts/gocommerce-infra/Chart.yaml
  deploy/charts/gocommerce-infra/charts/db-migrations-0.0.1.tgz
  deploy/charts/gocommerce-infra/charts/keycloak-0.0.1.tgz
  deploy/charts/gocommerce-infra/charts/nats-0.0.1.tgz
  deploy/charts/gocommerce-infra/charts/platform-database-0.0.1.tgz
  deploy/charts/gocommerce-infra/values.yaml
Due: none

build(compose): enhance local orchestration reliability
  docker-compose.yml
Due: none

refactor(config): unify service configuration and environment variables
  api_gateway/internal/config/config.go
  docker-compose.yml
  example.env
  notification_service/internal/config/config.go
  order_service/cmd/main.go
  order_service/configs/config.template.yaml
  order_service/internal/config/config.go
  pkg/config/configloader/loader.go
  pkg/config/database.go
  pkg/config/grpc_client.go
  pkg/config/grpc_server.go
  pkg/config/http.go
  pkg/config/idp.go
  pkg/config/log.go
  pkg/config/nats.go
  pkg/config/nats_subscriber.go
  pkg/config/pprof.go
  pkg/config/shutdown.go
  product_service/cmd/main.go
  product_service/configs/config.template.yaml
  product_service/internal/config/config.go
  user_service/internal/config/config.go
Due: golangci-lint-multimodule

fix(gateway): correct user registration JSON binding and improve DX
  api_gateway/internal/service/user.go
  api_gateway/rest.http
  user_service/internal/transport/grpc/grpc.http
Due: golangci-lint-multimodule

feat(charts): add Helm chart for Product service and App umbrella
  Makefile
  deploy/charts/gocommerce-app/.helmignore
  deploy/charts/gocommerce-app/Chart.lock
  deploy/charts/gocommerce-app/Chart.yaml
  deploy/charts/gocommerce-app/charts/product-0.0.1.tgz
  deploy/charts/gocommerce-app/templates/.placeholder
  deploy/charts/gocommerce-app/values.yaml
  deploy/charts/gocommerce-infra/charts/db-migrations-0.0.1.tgz
  deploy/charts/gocommerce-infra/charts/keycloak-0.0.1.tgz
  deploy/charts/gocommerce-infra/charts/nats-0.0.1.tgz
  deploy/charts/gocommerce-infra/charts/platform-database-0.0.1.tgz
  deploy/charts/product/.helmignore
  deploy/charts/product/Chart.yaml
  deploy/charts/product/templates/_helpers.tpl
  deploy/charts/product/templates/deployment.yaml
  deploy/charts/product/templates/hpa.yaml
  deploy/charts/product/templates/service.yaml
  deploy/charts/product/templates/tests/test-connection.yaml
  deploy/charts/product/values.yaml
Due: none

fix(tests): fix migration paths for tests
  order_service/internal/store/store_integration_test.go
  product_service/internal/store/store_integration_test.go
  product_service/internal/tests/e2e/product_service_e2e_test.go
Due: golangci-lint-multimodule

feat(notifications): implement file-based health probes
  notification_service/cmd/main.go
  notification_service/configs/config.template.yaml
  notification_service/internal/config/config.go
  pkg/config/probes.go
Due: golangci-lint-multimodule

feat(charts): add Notification service chart and improve hook timing
  deploy/charts/db-migrations/templates/configmap.yaml
  deploy/charts/gc-app/Chart.lock
  deploy/charts/gc-app/Chart.yaml
  deploy/charts/gc-app/charts/notification-0.0.1.tgz
  deploy/charts/gc-app/charts/order-0.0.1.tgz
  deploy/charts/gc-app/charts/product-0.0.1.tgz
  deploy/charts/gc-app/values.yaml
  deploy/charts/gc-infra/charts/db-migrations-0.0.1.tgz
  deploy/charts/gc-infra/charts/keycloak-0.0.1.tgz
  deploy/charts/gc-infra/charts/nats-0.0.1.tgz
  deploy/charts/gc-infra/charts/platform-database-0.0.1.tgz
  deploy/charts/notification/.helmignore
  deploy/charts/notification/Chart.yaml
  deploy/charts/notification/templates/_helpers.tpl
  deploy/charts/notification/templates/deployment.yaml
  deploy/charts/notification/templates/hpa.yaml
  deploy/charts/notification/templates/service.yaml
  deploy/charts/notification/templates/serviceaccount.yaml
  deploy/charts/notification/templates/tests/test-connection.yaml
  deploy/charts/notification/values.yaml
Due: none

feat(user): implement gRPC health checking protocol
  user_service/cmd/main.go
  user_service/internal/config/config.go
  user_service/internal/transport/grpc/grpc.http
Due: golangci-lint-multimodule

feat(charts/user): add Helm chart for User service
  deploy/charts/gc-app/Chart.lock
  deploy/charts/gc-app/Chart.yaml
  deploy/charts/gc-app/charts/notification-0.0.1.tgz
  deploy/charts/gc-app/charts/order-0.0.1.tgz
  deploy/charts/gc-app/charts/product-0.0.1.tgz
  deploy/charts/gc-app/charts/user-0.0.1.tgz
  deploy/charts/gc-app/values.yaml
  deploy/charts/gc-infra/charts/db-migrations-0.0.1.tgz
  deploy/charts/gc-infra/charts/keycloak-0.0.1.tgz
  deploy/charts/gc-infra/charts/nats-0.0.1.tgz
  deploy/charts/gc-infra/charts/platform-database-0.0.1.tgz
  deploy/charts/keycloak/templates/secret-realm.yaml
  deploy/charts/user/.helmignore
  deploy/charts/user/Chart.yaml
  deploy/charts/user/templates/_helpers.tpl
  deploy/charts/user/templates/deployment.yaml
  deploy/charts/user/templates/hpa.yaml
  deploy/charts/user/templates/service.yaml
  deploy/charts/user/templates/serviceaccount.yaml
  deploy/charts/user/templates/tests/test-connection.yaml
  deploy/charts/user/values.yaml
Due: none

feat(api_gateway): implement aggregate health check probes
  api_gateway/cmd/main.go
  api_gateway/internal/service/user.go
  api_gateway/internal/transport/rest/gw.go
Due: golangci-lint-multimodule

feat(charts): add Helm chart for API Gateway
  api_gateway/rest.http
  deploy/charts/gateway/.helmignore
  deploy/charts/gateway/Chart.yaml
  deploy/charts/gateway/templates/_helpers.tpl
  deploy/charts/gateway/templates/deployment.yaml
  deploy/charts/gateway/templates/hpa.yaml
  deploy/charts/gateway/templates/ingress.yaml
  deploy/charts/gateway/templates/service.yaml
  deploy/charts/gateway/templates/serviceaccount.yaml
  deploy/charts/gateway/templates/tests/test-connection.yaml
  deploy/charts/gateway/values.yaml
  deploy/charts/gc-app/Chart.lock
  deploy/charts/gc-app/Chart.yaml
  deploy/charts/gc-app/charts/gateway-0.0.1.tgz
  deploy/charts/gc-app/charts/notification-0.0.1.tgz
  deploy/charts/gc-app/charts/order-0.0.1.tgz
  deploy/charts/gc-app/charts/product-0.0.1.tgz
  deploy/charts/gc-app/charts/user-0.0.1.tgz
  deploy/charts/gc-app/values.yaml
  deploy/charts/gc-infra/charts/db-migrations-0.0.1.tgz
  deploy/charts/gc-infra/charts/keycloak-0.0.1.tgz
  deploy/charts/gc-infra/charts/nats-0.0.1.tgz
  deploy/charts/gc-infra/charts/platform-database-0.0.1.tgz
Due: none

feat(charts): enable external access via Ingress
  api_gateway/rest.http
  deploy/charts/gateway/templates/ingress.yaml
  deploy/charts/gateway/values.yaml
  deploy/charts/gc-app/charts/gateway-0.0.1.tgz
  deploy/charts/gc-app/charts/notification-0.0.1.tgz
  deploy/charts/gc-app/charts/order-0.0.1.tgz
  deploy/charts/gc-app/charts/product-0.0.1.tgz
  deploy/charts/gc-app/charts/user-0.0.1.tgz
  deploy/charts/gc-infra/charts/db-migrations-0.0.1.tgz
  deploy/charts/gc-infra/charts/keycloak-0.0.1.tgz
  deploy/charts/gc-infra/charts/nats-0.0.1.tgz
  deploy/charts/gc-infra/charts/platform-database-0.0.1.tgz
  deploy/charts/keycloak/values.yaml
  environments/local/kind-config.yaml
  environments/local/setup.sh
Due: none

feat(ci/cd): implement image builds and release workflow
  .github/workflows/build-and-push-images-release.yml
  .github/workflows/build-and-push-images.yml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/find-dockerfiles.yml
  .github/workflows/find-modules.yml
  .github/workflows/release.yml
  .github/workflows/verify-build-lint-test.yml
  .gitignore
  README.md
Due: none

feat(observability): Add Prometheus metrics and enhance dev environment
  api_gateway/go.mod
  api_gateway/go.sum
  deploy/charts/gc-app/charts/gateway-0.0.1.tgz
  deploy/charts/gc-app/charts/notification-0.0.1.tgz
  deploy/charts/gc-app/charts/order-0.0.1.tgz
  deploy/charts/gc-app/charts/product-0.0.1.tgz
  deploy/charts/gc-app/charts/user-0.0.1.tgz
  deploy/charts/order/templates/deployment.yaml
  deploy/charts/order/templates/service.yaml
  deploy/charts/order/templates/servicemonitor.yaml
  deploy/charts/order/values.yaml
  deploy/charts/user/values.yaml
  docker-compose.yml
  docker/grafana/provisioning/datasources/prometheus.yml
  docker/prometheus/prometheus.yml
  example.env
  notification_service/go.mod
  notification_service/go.sum
  order_service/cmd/main.go
  order_service/configs/config.template.yaml
  order_service/go.mod
  order_service/go.sum
  order_service/internal/service/service.go
  pkg/config/telemetry.go
  pkg/go.mod
  pkg/go.sum
  pkg/telemetry/telemetry.go
  product_service/go.mod
  product_service/go.sum
  user_service/go.mod
  user_service/go.sum
Due: golangci-lint-multimodule, go-mod-tidy-check

refactor(observability): Add slog handler and improve logging performance
  api_gateway/internal/service/user.go
  api_gateway/internal/transport/rest/gw.go
  notification_service/go.mod
  notification_service/go.sum
  notification_service/internal/subscriber/nats.go
  order_service/internal/service/service.go
  order_service/internal/transport/rest/handler.go
  pkg/bootstrap/bootstrap.go
  pkg/logger/logger.go
  pkg/web/middleware.go
  product_service/internal/transport/grpc/server.go
  product_service/internal/transport/rest/handler.go
  user_service/internal/service/service.go
  user_service/internal/transport/grpc/server.go
Due: golangci-lint-multimodule, go-mod-tidy-check

feat(observability): Add Loki and Promtail for log aggregation (docker-compose)
  docker-compose.yml
  docker/grafana/provisioning/datasources/loki.yml
  docker/promtail/config.yaml
Due: none

chore: Upgrade Go version to 1.25.1
  api_gateway/Dockerfile
  api_gateway/go.mod
  go.work
  notification_service/Dockerfile
  notification_service/go.mod
  order_service/Dockerfile
  order_service/go.mod
  pkg/go.mod
  product_service/Dockerfile
  product_service/go.mod
  user_service/Dockerfile
  user_service/go.mod
Due: go-mod-tidy-check

docs(makefile): Correct help description for 'tidy' target
  Makefile
Due: none

feat(pkg): Add reusable gRPC interceptors for Retry and Circuit Breaker
  pkg/client/grpc/interceptors/resilience.go
  pkg/client/grpc/interceptors/resilience_test.go
  pkg/config/resilience.go
  pkg/go.mod
  pkg/go.sum
Due: golangci-lint-multimodule, go-mod-tidy-check

feat(order): Apply resilience policies to Product Service gRPC client
  api_gateway/go.mod
  api_gateway/go.sum
  deploy/charts/gc-app/charts/gateway-0.0.1.tgz
  deploy/charts/gc-app/charts/notification-0.0.1.tgz
  deploy/charts/gc-app/charts/order-0.0.1.tgz
  deploy/charts/gc-app/charts/product-0.0.1.tgz
  deploy/charts/gc-app/charts/user-0.0.1.tgz
  deploy/charts/order/values.yaml
  docker-compose.yml
  example.env
  order_service/cmd/main.go
  order_service/configs/config.template.yaml
  order_service/go.mod
  order_service/go.sum
  order_service/internal/config/config.go
  test/create_order.js
Due: golangci-lint-multimodule, go-mod-tidy-check

chore(ci) update golangci-lint version
  .github/workflows/verify-build-lint-test.yml
Due: none
